<!DOCTYPE html>
<html lang="it">
<head>
<meta charset="UTF-8">

    <title>Errore</title>
    <link rel="stylesheet" href="styleTable.css">
</head>
<body>
    <nav style="background-color: #007bff; padding: 10px;">
  <form th:action="@{/}" method="get" style="display: inline;">
    <button type="submit" style="background: none; border: none; color: white; font-size: 16px; margin-right: 20px; cursor: pointer;">
      Home
    </button>
  </form>

  <form th:action="@{/preProfilo}" method="get" style="display: inline;">
    <button type="submit" style="background: none; border: none; color: white; font-size: 16px; margin-right: 20px; cursor: pointer;">
      Profilo
    </button>
  </form>

  <form th:action="@{/preChallenge}" method="get" style="display: inline;">
    <button type="submit" style="background: none; border: none; color: white; font-size: 16px; cursor: pointer;">
      Challenge
    </button>
  </form>
  
</nav>
    <h1>Si è verificato un errore!</h1>
    <p th:text="${error}"></p>
    <a class="buttonB" href="/">Torna alla Homepage</a>
</body>
</html>