<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profilo Utente</title>
    
    <link rel="stylesheet" href="/css/style.css">
   
</head>
<body>
    <nav style="background-color: #007bff; padding: 10px;">
  <form th:action="@{/}" method="get" style="display: inline;">
    <button type="submit" style="background: none; border: none; color: white; font-size: 16px; margin-right: 20px; cursor: pointer;">
      Home
    </button>
  </form>

  <form th:action="@{/preProfilo}" method="get" style="display: inline;">
    <button type="submit" style="background: none; border: none; color: white; font-size: 16px; margin-right: 20px; cursor: pointer;">
      Profilo
    </button>
  </form>

  <form th:action="@{/preChallenge}" method="get" style="display: inline;">
    <button type="submit" style="background: none; border: none; color: white; font-size: 16px; cursor: pointer;">
      Challenge
    </button>
  </form>
  
</nav>

<div class="header">
   
    <form th:action="@{/logout}" method="post">
        <button type="submit" class="logout-btn">Logout</button>
    </form>
</div>



<h1>Crea la tua Challange personalizzata</h1>


<!-- Bottone per creare una challenge -->
<form th:action="@{/creaChallenge}" method="get">
    <label for="challange">Nome Challange:</label>
    <input type="text" id="challange" name="challange" required>

    <label for="opzione">Seleziona Condizione:</label>
    <select id="opzione" name="opzione" required>
        <option value="nessuna">Nessuna</option>
        <option value="autore">Autore</option>
        <option value="genere">Genere</option>
    </select>

    <label for="opzione">Seleziona Tempo:</label>
    <select id="opzione" name="tempo" required>
        <option value="settimana">7 giorni</option>
        <option value="dieci">10 giorni</option>
        <option value="mese">30 giorni</option>
    </select>

    <button type="submit" class="challenge-btn">Crea una Challenge</button>
</form>



</body>
</html>
