<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profilo Utente</title>
    
    <link rel="stylesheet" href="/css/style.css">
   
</head>
<body>

<div class="header">
    <h2>Benvenuto, <span th:text="${userLoggato.username}">Utente</span></h2>
    <form th:action="@{/logout}" method="post">
        <button type="submit" class="logout-btn">Logout</button>
    </form>
</div>

<div class="user-info">
    <h3>Informazioni Profilo</h3>
    <p><strong>Username:</strong> <span th:text="${userLoggato.username}">username</span></p>
    <p><strong>Email:</strong> <span th:text="${userLoggato.email}">email</span></p>
    <p><strong>Nome Libreria:</strong> <span th:text="${userLoggato.nomeLibreria}">nomeLibreria</span></p>
    <p><strong>Punteggio:</strong> <span th:text="${userLoggato.punteggio}">0</span></p>
</div>

<!-- Bottone per eliminare il profilo -->
<form th:action="@{/eliminaProfilo}" method="post">
    <input type="hidden" name="userId" th:value="${userLoggato.userId}">
    <button type="submit" class="delete-profile-btn">Elimina Profilo</button>
</form>




<!-- Bottone per creare una challenge -->
<form th:action="@{/creaChallenge}" method="get">
    <label for="challange">Nome Challange:</label>
    <input type="text" id="challange" name="challange" required>

    <label for="opzione">Seleziona Condizione:</label>
    <select id="opzione" name="opzione" required>
        <option value="nessuna">Nessuna</option>
        <option value="autore">Autore</option>
        <option value="genere">Genere</option>
    </select>

    <label for="opzione">Seleziona Tempo:</label>
    <select id="opzione" name="tempo" required>
        <option value="settimana">7 giorni</option>
        <option value="dieci">10 giorni</option>
        <option value="mese">30 giorni</option>
    </select>

    <button type="submit" class="challenge-btn">Crea una Challenge</button>
</form>



</body>
</html>
