<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profilo Utente</title>
    
    <link rel="stylesheet" href="/css/style.css">
   
</head>
<body>

<div class="header">
    <h2>Benvenuto, <span th:text="${userLoggato.username}">Utente</span></h2>
    <form th:action="@{/logout}" method="post">
        <button type="submit" class="logout-btn">Logout</button>
    </form>
</div>

<div class="user-info">
    <h3>Informazioni Profilo</h3>
    <p><strong>Username:</strong> <span th:text="${userLoggato.username}">username</span></p>
    <p><strong>Email:</strong> <span th:text="${userLoggato.email}">email</span></p>
    <p><strong>Nome Libreria:</strong> <span th:text="${userLoggato.nomeLibreria}">nomeLibreria</span></p>
    <p><strong>Punteggio:</strong> <span th:text="${userLoggato.punteggio}">0</span></p>
</div>

<!-- Bottone per eliminare il profilo -->
<form th:action="@{/eliminaProfilo}" method="post">
    <input type="hidden" name="userId" th:value="${userLoggato.userId}">
    <button type="submit" class="delete-profile-btn">Elimina Profilo</button>
</form>

<h3>Libri nella tua Libreria</h3>
<table>
    <thead>
        <tr>
            <th>Titolo</th>
            <th>Genere</th>
            <th>Autore</th>
            <th>Copertina</th>
            <th>Rimuovi</th> <!-- Colonna per il pulsante di rimozione -->
        </tr>
    </thead>
    <tbody>
        <tr th:each="libro : ${listaLibrerie}">
            <td th:text="${libro.titoloLibro}">Titolo</td>
            <td th:text="${libro.genereLibro}">Genere</td>
            <td th:text="${libro.autoreLibro}">Autore</td>
            <td>
                <img th:src="${libro.copertinaLibro}" alt="Copertina" width="60"/>
            </td>
           <td>
                <form th:action="@{/rimuoviLibro}" method="post">
                    <input type="hidden" name="idLibro" th:value="${libro.idLibro}">
                    <button type="submit" style="background-color: #e74c3c; color: white; border: none; padding: 6px 12px; cursor: pointer;">Rimuovi Libro
            
                    </button>
                </form>
            </td>

           

        </tr>
    </tbody>
</table>


<!-- Bottone per creare una challenge -->
<form th:action="@{/creaChallenge}" method="get">
    <button type="submit" class="challenge-btn">Crea una Challenge</button>
</form>



</body>
</html>
